 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I've been composing for 20 years and working freelance for games for 5 years. Proficient with Reason, Cubase, Pro Tools, Ableton Live, Adobe Audition and Audacity. I hope you enjoy what I've hosted here! Thanks for stopping by!</p>
                </div>
            </div>
        </div>
    </section>
